/* general styling */
header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}

main {
    padding: 20px;
}





/* project section styling */
.project {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    background-color: #2c2c2c;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.project h2 {
    color: #ffcc00;
}

.description {
    font-size: 0.9em;
    margin: 10px 0;
}





/* action button styling */
button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.action-button {
    display: flex;
    justify-content: center;  
    align-items: center;     
    background-color: #2c2c2c;
    flex-direction: row;
    justify-content: space-evenly;
}
.dashboard-btn {
    background-color: #007bff;
    color: #ffffff;
}
.repo-btn {
    background-color: #28a745;
    color: #ffffff;
}





/* dashboard preview styling */
.dashboard-preview {
    display: none;
    margin-top: 10px;
}
.dashboard-preview img {
    max-width: 100%;
    border-radius: 4px;
}
